* {
     margin: 0px;
}

main {
     display: flex;
     justify-content: center;
}

main .content {
     width: 500px;
}

main .content #text {
     text-align: justify;
     margin: 25px;
}

main nav {
     background-color: red;
}

main nav ul {
     margin-top: 10px;
     margin-right: 20px;
}

main nav li {
     margin-top: 5px;
     list-style: none;
}

main nav li a {
     color: white;
}

header {
     background-color: green;
     height: 27px;
     width:100%;
}

footer {
     background-color: black;
     height: 27px;
     width:100%;
}

header, footer .content {
     color: white;
     text-align: center;
     padding: 3px;
     font-size: 15px;
}
