* {
     margin: 0px;
}

main .content {
     width: 600px;
     margin: 0 auto;
}

main .content #text {
     text-align: center;
}

header {
     background-color: green;
     height: 27px;
     width:100%;
}

footer {
     background-color: black;
     height: 27px;
     width:100%;
}

header, footer .content {
     color: white;
     text-align: center;
}
