* {
     margin: 0px;
}

header {
     background-color: green;
     height: 27px;
     width:100%;
}

footer {
     background-color: black;
     height: 27px;
     width:100%;
}

header, footer .content {
     color: white;
     text-align: center;
}
