*
{
	margin: 0px;
     padding: 0px;
	font-family: Arial;
}

body
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.buttonBlock
{
     display: flex;
}
.buttonBlock > button
{	
	background: red;
	color: white;
	font-size: 26px;
	height: 55px;
	width: 35%;
	border: 4px solid black;
	margin: 0px;
}

.contentBlock
{
	display: flex;
	height: 500px;
}

.columnLeft > img
{
	width: 600px;
	height: 355px;
}
.columnRight > img
{
	visibility: hidden;
	width: 600px;
	height: 355px;
}
.columnRight 
{
	width: 1%;
	padding: 20px;
	background-color: green;
}
.columnLeft
{
	width: 99%;
	padding: 20px;
	background-color: blue;
}