
#for_float {
    width: 200px;
    height: 100px;
    background-color: aqua;
    float:left;
    margin: 12px;
    padding-top: 0px;
}

#for_float p {
    margin: 0px;
}

#for_clear {
    background-color: bisque;
    clear: left;
}